body
{
	font-family: helvetica,sans-serif,verdana;
}

#cabeçalho
{
	background-image: url(123.png);
	margin-top: -30px;
	margin-right: -20px;
	margin-left: -10px; 
}

#cabeçalho h1
{
	color: #796298;	
	padding-top: 15px;
	padding-left: 30px;	
	font-style: italic;
}

#cabeçalho header nav ul
{
	list-style: none;
	padding-left: 860px;
	padding-bottom: 25px;	
}

#cabeçalho header nav ul li
{	
	display: inline-block;
	margin-right: 20px;	
	text-decoration: none;			
}

#cabeçalho header nav ul li a
{	
	text-decoration: none;
	color: #a875fb;		
}

#cabeçalho header nav ul li a:hover
{	
	color: #d6c1f9;		
}
/*
section h2, article h2
{
	padding: 1px 20px;
}

section p, article p
{
	padding-left: 30px;
}

aside ul li
{
	list-style: none;
}

footer
{
	padding: 10px 20px;
}*/