<!DOCTYPE HTML>

<html>

	<head>
		<title>Primeiro layout</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="estilo.css"/>
	</head>

	<body>
		<div id="cabeçalho">
			<header>
				<h1>Raniel's</h1>
				<nav>
					<ul>
						<li><a href="#"> Início </a></li>
						<li><a href="#"> Pesquisa </a></li>
						<li><a href="#"> Contato </a></li>
						<li><a href="#"> Sobre mim </a></li>
					</ul>
				</nav>
			</header>
		</div>	
<!--
		<section>
			<h2> Título da seção </h2>
			<p>Conteúdo</p>
		</section>
		
		<article>
			<h2>Título do artigo</h2>
			<p>Conteúdo</p>
		</article>

		<aside>
			<ul>
				<li><a href="#"> Submenu 1 </a></li>
				<li><a href="#"> Submenu 2 </a></li>
				<li><a href="#"> Submenu 3 </a></li>
				<li><a href="#"> Submenu 4 </a></li>
			</ul>
		</aside>

		<footer>
			Rodapé do site
		</footer> -->
	</body>
</html>