body
{
	font-family: sans-serif, verdana, arial;
}

#menu
{
	width: 100%;
	height: 57px;
	background-color: #36384c;
}

.itemMenu
{
	width: 20%;
	height: 40px;
	padding-left: 5%;
	padding-top: 2%;		
	color: white;
	text-decoration: none;
	float: left;
	transition: 200ms;
}	


	.itemMenu:hover
	{
		background-color: #4a4b5d;
		transform: scale(1.1);		
	}