body
{
	font-family: sans-serif, helvetica;
	background-color: #fdfdfd;
	color: #042945;
}

p
{
	color: #236494;
}

p.chaverde
{
	color: green;
}

p.framboesa
{
	color: blue;
}

p.felicidade
{
	color: purple;
}

h1
{
	border-bottom: 1px solid black;
}

em
{
	font-family: serif;	
}