<!DOCTYPE HTML>

<html>

	<head>
		<title>Primeiro Layout</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="estilo.css"/>
	</head>

	<body>
		<div id="cabeçalho">
			<header>
				<h1>Seja bem-vindo ao melhor site do mundo!</h1>				
			</header>
		</div> <!-- fecha cabeçalho -->	
		
		<div id="centro">
			<div id="conteudo">
				<section>
					<h2> Tudo sobre C - Linguagem de programação! </h2>
					<p>Aqui você aprenderá tudo (ou quase tudo) sobre a linguagem de programação C!<br>
					De onde veio, como ela afetou o mundo da programação e como programar usando C!</p>
				</section>
				
				<article>
					<h2>Título do artigo</h2>
					<p>Conteúdo</p>
				</article>
			</div> <!-- fecha conteudo -->

			<div id="sidebar">
				<aside>
					<ul>
						<li><a href="#"> Sobre C </a></li>
						<li><a href="#"> Variáveis </a></li>
						<li><a href="#"> 1º Programa - "Hello world!" </a></li>
						<li><a href="#"> Como ler dados do usuário </a></li>
					</ul>
				</aside>
			</div> <!-- fecha sidebar -->

			<div id="leftbar">
				<nav>
					<ul>
						<li><a href="#"> Início </a></li>
						<li><a href="#"> Pesquisa </a></li>
						<li><a href="#"> Contato </a></li>
						<li><a href="#"> Sobre mim </a></li>
					</ul>
				</nav>
			</div> <!-- fecha lefbar -->
		</div> <!-- fehca centro -->
<!--
		<footer>
			Rodapé do site
		</footer> -->
	</body>
</html>